header.header
    .header_wrapper
        .header_colum
            a(href=routes.home)
                i.fab.fa-youtube
                h1 #{siteName}
        .header_colum
            form(action=routes.search, method="get")
                input(tyep="text", placeholder="serch by term" name="term")
        .header_colum        

            ul
                if !user
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
                else
                    li
                        a(href=`/video${routes.upload}`) upload
                    li
                        a(href=routes.user_detail(user.id)) profile
                    li
                        a(href=routes.logout) log out                            